<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.codinging.workflow-unix-timestamp-converter</string>
	<key>connections</key>
	<dict>
		<key>DDA620FE-C183-4759-A8E0-987F1DC255B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97E970D0-834F-4322-B256-9FBE64CD826D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeff Ma</string>
	<key>description</key>
	<string>Convert unix timestamp to a readable string</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Unix timestamp converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>97E970D0-834F-4322-B256-9FBE64CD826D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>unixt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python converter.py "{query}"</string>
				<key>subtext</key>
				<string>Convert unix timestamp to a readable string</string>
				<key>title</key>
				<string>Unix Timestamp Converter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DDA620FE-C183-4759-A8E0-987F1DC255B8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>97E970D0-834F-4322-B256-9FBE64CD826D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DDA620FE-C183-4759-A8E0-987F1DC255B8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>codinging.com</string>
</dict>
</plist>
